<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ionic.startewwr" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UPVS</name>
    <description>ULTIMATE POWER VENDING SYSTEM</description>
    <author></author>
    <icon src="icon.png" width="128" height="128" />
    <icon src="icon.png" width="256" height="256" />
    <preference name="permissions" value="none" />
    <preference name="android-targetSdkVersion" value="27" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <plugin name="cordova-plugin-crosswalk-webview" source="npm" />
    <plugin name="cordova-plugin-wkwebview-engine" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-httpd" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
</widget>



 